/*импорт шрифта*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/* стиль основного блока страницы*/
body {
    background-color: rgb(104, 139, 139);
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black;

    -webkit-overflow-scrolling: touch;

    margin-top: 70px;
}

/* стиль заголовков*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: rgb(248, 243, 243);
    padding-top: 10px;
    padding-bottom: 10px;
}
/* стиль параграфов*/
p {
    line-height: 35px;
    letter-spacing: 0.11em;
    transform-origin: 0 0;
    transform: scale(1, 1);
    margin-bottom: 50px;
}
/* положение флага Наверх homepage*/
#top{
    text-align: right;
    margin-left: 100px;
    }

.centered {
    text-align: center;
}

a {
    color: gainsboro;
}

/*подсвечивание ссылок*/
a:hover, a:focus {
    color: lightblue;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(20, 20, 20);
    margin: lem 0;
    padding: 0;
}

/*шапка навигации all pages*/
.navbar {
    height: 90px;
    font-weight: 800;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand {
    font-family: "Oswald", sans-serif;
}

.navbar-inverse {
    background: #9b9b9b;
    border-color: #9b9b9b;
}

/* Выпадающее меню, активация*/
.dropdown-item-inactive:active {
    color: inherit;
    background-color: #ffffff;
}

/* картинка-обложка шапки home-страницы*/
.site-header {
    min-width: 550px;
    height: 700px;
    margin-bottom: 100px;
    padding-top: 30px;
    background: rgb(32, 31, 31) no-repeat center url("../img/a7b7a69fbf2e817b7a4c91783a56da52.jpg");
    background-size: cover;
    color: #ffffff;
    opacity: 0.8;
}

/*all pages текст шапки*/
.site-header p {
    width: 255px;
    margin: 0 auto 26px;
    text-align: left;
    font-size: 16px;
    line-height: 15px; 
}
.container-fluid {
    padding-top: 10px;
}

.site-header img {
    display: block;
    margin: 0 auto;
    text-align: left;
}
/*homepage картинка оленя*/
.deer {
    padding-left: 50px;
}
/*homepage атрибуты в тексте*/
.features {
    width: 900px;
    text-align: left;
    margin: 0 auto 30px;
    margin-bottom: 70px;
    padding: 0 20px;
  }

.features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center top;
    color: antiquewhite;
}

/*homepage*/
.expeditions {
    width: 900px;
    margin: 0 auto 20px;
    padding: 0 20px;
}

/*page5_reseach*/
.article {
    width: 900px;
    margin: 0 auto 20px;
    padding: 0 20px;
}

/*homepage*/
.expedition-list {
    padding: 0;
    color: antiquewhite;
}

/*page5_reseach*/
.article-list {
    padding: 0;
    color: antiquewhite;
}

/*page5_reseach*/
.map {
 padding-top: 20px;
 padding-bottom: 20px;
 background-position: center;
}

/*page4_present*/
.icon {
    padding-top: 5px;
    padding-bottom: 5px;
}

.name {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*all-pages footer*/
.site-footer {
    min-width: 550px;
    background-color: #395040;
    color: #ffffff;
}

.site-footer .container {
    text-align: center;
}

.site-footer p {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}
  